fastapi
uvicorn
python-multipart
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-dateutil
python-dotenv
pydantic
pydantic[email]
requests
groq
aiohttp
sqlalchemy
alembic
starlette  
cryptography  
async-timeout
httpx
feedparser
beautifulsoup4
spacy
torch
transformers
scikit-learn
aiofiles
aiohttp
stability-sdk

